body {
  font-family: "Lato", sans-serif;
}
/* shared item */
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  gap: 10px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
/* header style*/
.header-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  width: 1530px;
  height: 850px;
  padding-left: 240px;
  padding-left: 240px;
}
.banner-image {
  width: 635px;
  height: 800px;
  padding-left: 97px;
  padding-top: 50px;
}
.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  width: 708px;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 634px;
  margin-bottom: 32px;
}
/* feature style */
.feature-text {
  text-align: center;
  margin-bottom: 0;
}
.featured-container {
  text-align: center;
  display: flex;
  margin: 48px 240px 140px 240px;
  gap: 24px;
}
.feature-img6 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
}
.flower-img6 {
  padding: 110px 78px 0px 78px;
  width: 310px;
  height: 428px;
}
.feature-img5 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
}
.flower-img5 {
  padding: 117px 47px 51px 48px;
  width: 370px;
  height: 370px;
}
.feature-img7 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}
.flower-img7 {
  padding: 67px 75px 0px 75px;
  width: 314px;
  height: 471px;
}

.flower-link {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  padding-top: 40px;
}
.flower-link-1 {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  padding-top: 90px;
}
.feature-title {
  margin-top: 160px;
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 600px;
  width: 594px;
}
/* delivery and Support section */
.flower-delivery {
  display: flex;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 128px 240px 128px 240px;
  width: 1440px;
  height: 320px;
}
.delivery-text {
  color: #272727cc;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.delivery {
  padding: 86px 70px 87px 100px;
}
/* discount style */
.off-text{
  color: #E55473;
}
.discount-container {
  width: 1750px;
  height: 620px;
  border-radius: 8px;
  background: #e554730d;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.discount-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0px;
}
.discount-description {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin-bottom: 30px;
}
.discount-details {
  padding: 230px 186px 200px 360px;
}
.discount-img {
  width: 318px;
  height: 420px;
  padding: 150px 429px 100px 0px;
}
/* social style */
.social-container {
  text-align: center;
  margin-top: 128px;
}
.social-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
}
.social-description {
  color: #27272799;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin-left: 600px;
}
.instagram-pic {
  width: 342px;
  height: 396px;
}
.instagram-pic-container {
  display: flex;
  gap: 24px;
  margin: 48px 240px 128px 240px;
}
/* Latest Update */
.latest-Update {
  text-align: center;
  background-image: url(../Rectangle\ 9.png);
  width: 1440px;
  height: 449px;
  margin: 0px 240px 0px 240px;
  padding-top: 120px;
  background-repeat: no-repeat;
}
.email-input {
  width: 630px;
  height: 25px;
  color: #27272799;
  border: none;
  font-weight: 400px;
  border-radius: 8px;
  padding: 24px 50px 22px 22px;
  margin-right: 10px;
}
.update-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.update-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
/* customer review style */
.customer-review{
  text-align: center;

}
.review-container{
  display: flex;
  gap: 40px;
  margin: 0px 340px 0px 530px;
}
.stars{
  color: orange;
}
.review-title{
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  margin-top: 0px;
}
.review-description{
color: #757575;
font-size: 16px;
width: 250px;
line-height: 28px;
padding: 0px 10px 0px  10px;
}
.customer-name{
  padding-top: 10px;
  color: #272727;
font-size: 30px;
font-weight: 800;
}
.customer-pic{
  width: 44px;
height: 44px;
padding: 30px 50px 20px 80px ;
}
.review-part{
  width: 267px;
height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 140px;
}
/* footer style */

.footer-title {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
}
.shop-text {
  color: #ffffff;
}
.footer-container {
  background: #111010;
  width: 1750px;
  height: 449px;
  text-align: center;
  padding-top: 130px;

}
.footer-description {
  color: #ffffffe5;
  width: 625px;
  margin-left: 600px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.copy-right {
  color: #ffffff66;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
